<div style="background-image: url('../assets/categoria.jpg')">
  <h5 class="bem-vindo">
    Seja bem-vindo ao ShoppingOeiras.com. Agora suas compras ficaram mais fáceis
    na nossa cidade!
  </h5>
</div>
<div class="style-header" style="min-height: 700px">
  <div class="style-left">
    <div class="card" style="width: 100%">
      <div style="background-color: #ca4560; color: #fff">
        <h6 class="card-header" style="padding: 8px 8px 8px 30px">
          Cadastrar | Atualizar Produtos
        </h6>
      </div>

      <div class="card-body" style="padding: 30px">
        <form
          id="add-form"
          (ngSubmit)="f.form.valid && saveProduct(f)"
          #f="ngForm"
          novalidate
        >
          <div style="width: 100%; display: flex">
            <label for="productname" style="width: 30%; margin-top: 8px"
              >Produto:</label
            >
            <div style="width: 70%">
              <select
                name="productname"
                id="productname"
                [(ngModel)]="pd.productname"
                required
                class="form-control"
                #productname="ngModel"
                style="border: rgba(189, 179, 179, 0.8) solid 1px"
                [ngClass]="{
                  'is-invalid': f.submitted && productname.invalid
                }"
              >
                <option
                  value="{{ p.nome }}"
                  *ngFor="let p of categoria_Produts; index as i"
                >
                  {{ p.nome }}
                </option>
              </select>

              <div
                *ngIf="f.submitted && productname.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="productname.errors.required">
                  Selecão obrigatória
                </div>
              </div>
            </div>
          </div>

          <div style="width: 100%; display: flex">
            <label for="fullName" style="width: 35%; margin-top: 20px"
              >Descrição:</label
            >
            <div style="width: 65%">
              <input
                type="text"
                [(ngModel)]="pd.productDescription"
                id="productDescription"
                name="productDescription"
                style="padding: 20px; margin-bottom: 0"
                #productDescription="ngModel"
                required
                class="form-control"
                [ngClass]="{
                  'is-invalid': f.submitted && productDescription.invalid
                }"
              />
              <div
                *ngIf="f.submitted && productDescription.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="productDescription.errors.required">
                  Campo obrigatório
                </div>
              </div>
            </div>
          </div>

          <div style="width: 100%; display: flex">
            <label for="productVolume" style="width: 30%; margin-top: 20px"
              >Volume:</label
            >
            <div style="width: 70%">
              <input
                type="text"
                [(ngModel)]="pd.productVolume"
                id="productVolume"
                name="productVolume"
                style="padding: 20px; margin-bottom: 0"
                #productVolume="ngModel"
                required
                class="form-control"
                [ngClass]="{
                  'is-invalid': f.submitted && productVolume.invalid
                }"
              />
              <div
                *ngIf="f.submitted && productVolume.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="productVolume.errors.required">
                  Campo obrigatório
                </div>
              </div>
            </div>
          </div>

          <div style="width: 100%; display: flex; margin-top: 10px">
            <label for="categoria" style="width: 35%; margin-top: 8px"
              >Categoria:</label
            >
            <div style="width: 65%">
              <select
                name="categoria"
                id="categoria"
                [(ngModel)]="pd.categoria"
                required
                class="form-control"
                #categoria="ngModel"
                style="border: rgba(189, 179, 179, 0.8) solid 1px"
                [ngClass]="{
                  'is-invalid': f.submitted && categoria.invalid
                }"
              >
                <option
                  value="{{ p.nome }}"
                  *ngFor="let p of categorias; index as i"
                >
                  {{ p.nome }}
                </option>
              </select>

              <div
                *ngIf="f.submitted && categoria.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="categoria.errors.required">Selecão obrigatória</div>
              </div>
            </div>
          </div>

          <div style="width: 100%; display: flex; margin-top: 10px">
            <label for="ativo" style="width: 35%">Disponível a venda:</label>
            <div style="width: 65%">
              <select
                name="ativo"
                id="ativo"
                [(ngModel)]="pd.ativo"
                required
                class="form-control"
                #ativo="ngModel"
                style="border: rgba(189, 179, 179, 0.8) solid 1px"
                [ngClass]="{
                  'is-invalid': f.submitted && ativo.invalid
                }"
              >
                <option value="" required></option>
                <option value="true">Sim</option>
                <option value="false">Não</option>
              </select>
              <div
                *ngIf="f.submitted && ativo.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="ativo.errors.required">Selecão obrigatória</div>
              </div>
            </div>
          </div>

          <div style="width: 100%; display: flex; margin-top: 10px">
            <label style="width: 36%; margin-top: 10px">Estoque | Valor:</label>

            <div style="width: 32%">
              <input
                type="number"
                [(ngModel)]="pd.estoque"
                id="estoque"
                name="estoque"
                style="margin-left: -5px; padding: 20px"
                #estoque="ngModel"
                required
                [ngClass]="{
                  'is-invalid': f.submitted && estoque.invalid
                }"
              />
              <div
                *ngIf="f.submitted && estoque.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="estoque.errors.required">Campo obrigatório</div>
              </div>
            </div>

            <div style="width: 32%">
              <input
                type="number"
                [(ngModel)]="pd.productPrice"
                id="productPrice"
                name="productPrice"
                #productPrice="ngModel"
                style="padding: 20px"
                required
                [ngClass]="{
                  'is-invalid': f.submitted && productPrice.invalid
                }"
              />
              <div
                *ngIf="f.submitted && productPrice.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="productPrice.errors.required">
                  Campo obrigatório
                </div>
              </div>
            </div>
          </div>

          <div style="align-items: center">
            <button
              type="submit"
              class="btn btn-primary btn-add-car"
              style="margin: 2px; padding: 3px"
            >
              Salvar
            </button>
            <button
              type="reset"
              style="margin: 2px; padding: 3px"
              class="btn btn-secondary btn-add-car"
              (click)="cleanForm(f)"
            >
              Limpar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="style-right">
    <div class="divContainer">
      <div class="conteudoNormal">
        <div style="width: 100%">
          <div
            class="small-container cart-page"
            style="min-height: 600px; margin-top: -1px"
          >
            <table class="table table-hover" *ngIf="pds; else loading">
              <tr>
                <th style="width: 25%; vertical-align: middle">
                  Produtos Inativos
                </th>
                <th style="width: 70%; vertical-align: middle">

                </th>
              </tr>

              <tr
                *ngFor="
                  let prod of pds
                    | paginate: { itemsPerPage: count, currentPage: p };
                  index as i
                "
              >
                <td style="vertical-align: middle">
                  <img
                    src="{{ prod?.post?.url }}"
                    style="width: 90px; height: auto"
                  />
                </td>
                <td>
                  <div style="text-align: left">
                    <span>{{ prod.productname }} </span
                    ><span>{{ prod.productDescription }} </span>
                    <span>{{ prod.productVolume }}</span
                    ><br />
                    <span>Categoria: {{ prod.categoria }}</span
                    ><br />

                    <span style="margin-right: 25px"
                      >Estoque: {{ prod.estoque }}</span
                    >
                    <span >Ativo: {{ prod.ativo == 1 ? "Sim" : "Não" }}</span
                    ><br />

                    <span style="margin-right: 25px">{{
                      prod.productPrice | currency
                    }}</span>

                    <div style="display: inline">
                      <a
                        style="
                          cursor: pointer;
                          margin-right: 10px;
                          font-size: 1.6rem;
                        "
                        (click)="editProduct(prod)"
                        >Editar</a
                      >
                      <a
                        style="
                          cursor: pointer;
                          margin-right: 10px;
                          font-size: 1.6rem;
                        "
                        (click)="deleteProduct(prod)"
                        >Deletar</a
                      >
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-right">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>

<ng-template #loading>
  <h5 style="margin: 10px 0 0 15px">Carregando lista de produtos.....</h5>
  <hr />
</ng-template>
